# Port for Express server
PORT=5000

# Database Connection (Optional for PostgreSQL/MySQL. If omitted, defaults to local SQLite database)
# DATABASE_URL=postgres://user:password@localhost:5432/portfoliodb
# NODE_ENV=production
